@tailwind base;
@tailwind components;
@tailwind utilities;

/* --primary: #FA2C44;; */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FA2C44;

  --font-open-sans: Open Sans, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #FA2C44;
  }
}

.transition-time{
  transition: all 0.3s ease-in-out;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.impact {
  font-family: Impact;
}

.arial-black {
  font-family: "Arial Black";
}

.black-icon {
  filter: invert(1);
}

img{
  object-fit: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: Impact;
    src: local('Roboto'), url(/src/fonts/impact.woff) format('woff');
  }
}
